<% if @is_subscribed %>
    <%= link_to "Create New Post", new_community_post_path(@community), class: "btn btn-primary float-end" %>
<% else %>
    <%= render partial: "communities/subscribe", locals: {community_id: @community.id} %>
<% end %>

<h3><%= @community.name %></h3>

<div class="row">
    <div class="col-sm-8">
        <%= render partial: "posts/list", posts: @posts %>
    </div>
    <div class="col-sm-4">
        <p><%= @community.summary %> Members</p>
        <p><%= @subscriber_count %> Members</p>
        <small>
            <%= simple_format @community.rules %>
        </small>
    </div>
</div>